*{
    margin-bottom: 40px;
    background:#76a1a3;;
    font-family: 'Inter';
    font-size: 32px;
    line-height: 115%;
    overflow-y: hidden;
    
}
.text-linkedin {
    position: absolute;
    margin: 686px 0 0 0;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding-top: 0px;
    color:#000000a6;
    text-decoration: underline;
}

.linkedin{
    position: absolute;
    width: 3.4%;
    margin: 627px 0 0 22px;

}

.logo{
    position: absolute;
    padding-top: 33px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
    
}

.text-area {
    height: 400px;
    border: none;
    color: #3d5069;
    margin-top: 85px;
    margin-bottom: 40px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder { color: #4c699f9e; }
  .text-area:focus {
      outline: none;
    }

.mensaje{
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 340px;
    height: 530px;
    background: #97c1c0;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 77px;
    border-radius: 24px;
    margin-left: 130px;
    position: fixed;
    color: #59878a;
    font-size: 30px;
    font-weight: 500;
    padding: 10px 10px 0 10px;
    border-color: #344565;
}

.mensaje:focus {
    outline: none;
}

.botones{
    margin-bottom: 10px;
    display: flex;
    margin-top: 10px;
}

.btn-desencriptar {
    margin: 10px 10px 10px 40px;
    background: #66dedba1;
    border: 1px solid #9afffd;
    border-radius: 24px;
    color: #2a2f67;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-encriptar {
    margin: 10px;
    background-color: #89cec7;
    border: 1px solid #f4f6f9;
    border-radius: 24px;
    color: #2a2f67;
    cursor: pointer;
    height: 67px;
    width: 328px;
}
.btn-encriptar:hover,.btn-desencriptar:hover,.copiar:hover{
    transform: scale(1.06);
    transition: 0.5s all;
}

.copiar {
    border: 1px solid #000000;
    border-radius: 24px;
    color: #3e3e3f;
    cursor: pointer;
    height: 67px;
    margin-left: 149px;
    margin-top: 586px;
    position: absolute;
    width: 326px;
    background: #899fadad;
}

.alerta-text{
    margin-bottom:10px;
}

.informacion {
    margin: 5px ;
    display: flex;
    color: #000000;
    font-size:16px;

    height: 20px;
  }
  
 .img-advertencia {
    margin-right: 4px;
    height: 16px;
    
  }

  .mensaje.encriptado,
.mensaje.desencriptado {
  box-shadow: 0px -5px 25px 5px #53e9dc;
}



